{%extends "template.html" %}

{%block body%}
    {% for mesg in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{mesg}}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    <div class="text-center mt-3 mb-3 display-5 text-danger">
        GESTIÓN DE ÁLBUMS
    </div>

    <!-- INICIO DE ROW -->
    <div class="row">
        <!-- INICIO PRIMER COLUMNA -->
        <div class="col-md-5 ps-5">
            <!-- FORM -->
            <form action="/guardarAlbum" method="POST">
                <label for="txtTitulo">Título:</label>
                <input type="text" name="txtTitulo">
                <br><br>
                <label for="txtArtista">Artista:</label>
                <input type="text" name="txtArtista">
                <br><br>
                <label for="intYear">Año:</label>
                <input type="number" name="intYear">
                <br><br>
                <button type="submit">Guardar Album</button>
            </form>
        </div>

        <!-- INICIO SEGUNDA COLUMNA -->
        <div class="col-md-7">
            <!-- TABLE -->
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <td>ID:</td>
                            <td>Album:</td>
                            <td>Artista:</td>
                            <td>Año:</td>
                            <td>Operaciones:</td>
                        </tr>
                    </thead>
                    <tbody>
                        {%for album in albums%}
                        <tr>
                            <td>{{album.0}}</td>
                            <td>{{album.1}}</td>
                            <td>{{album.2}}</td>
                            <td>{{album.3}}</td>
                            <td>
                                <a class="btn btn-info btn-sm" href="/editar/{{album.0}}">|Editar|</a>
                                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal{{album.0}}">|Eliminar|</button>
                                {%include 'modal.html'%}
                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- FINAL DE ROW -->
{%endblock%}